.container {
  width: 700px;
  margin: 0 auto ;
}

p {
  color: #fff;
  font-size: 35px;
  text-align: center;
}

.btn {
  width: 200px;
  height: 50px;
  border: 1px solid #333333;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: greenyellow;
  cursor: pointer;
  margin-bottom: 10px;
}